<h1>Heroes Academy</h1>

<div>
  <h3>Add a new hero!</h3>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <button class="add-button" (click)="addHero(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<h2>Heroes ready to fight!</h2>
<div class="hero-container">
  <ul *ngFor="let hero of heroes">
    <li>
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
      <button class="delete" title="delete hero" (click)="deleteHero(hero)">x</button>
    </li>
  </ul>
</div>
